<% @page_title = "\"#{@track_name}\"の楽曲名での検索結果" %>

<% content_for :head do %>
  <meta property="og:title" content=<%= @page_title %> />
  <meta property="og:type" content="article">
  <meta property="og:description" content=<%= @page_title %> />
<% end %>

<% content_for :cover do %>
  <main class="single-container">
    <div class="single-inner">
      <h1 class="search-result-head"><%= "\"#{@track_name}\"の検索結果" %></h1>
      <h2 class="search-result-count"><%= "#{@tracks.length}件" %></h2>
      <%= render partial: 'track', collection: @tracks %>
    </div>
  </main>
<% end %>
