<main class="single-container">
<div class="single-inner">
  <section class="album-container">
    <div class="album-left track-left">
      <div>
        <%= link_to album_path(@album.id) do %>
          <%=  image_tag "#{@album.images[0]["url"]}", class: "album-image track-image track-show-image" %>
        <% end %>
      </div>
    </div>
    <div class="album-right track-right">
      <ol class="tracklist tracklist-large">
        <li class="tracklist-row">
          <div class="tracklist-col-left">
            <div>
              <%= link_to track_path(@track.spotify_id) do %>
                <span><%= @track.name %></span>
              <% end %>
              &nbsp;/&nbsp;
              <%= link_to artist_path(@artist.id) do %>
                <%= @artist.name %>
              <% end %>
            </div>
            <div><%= link_to album_path(@album.id) do %><%= @album.name %><% end %> - <%= @album.album_type %></div>
            <div><%= @album.release_date %></div>
          </div>
          <div class="tracklist-col-right">
            <%= Time.at(@track.duration_ms / 1000).strftime("%M:%S") %>
          </div>
        </li>
      </ol>
      <div class="star-rating">
        <% if @reviews.present? %>
          <div class="star-rating-front" style="width: <%= @reviews.average(:rate).round(1) * 20 %>%">★★★★★</div>
        <% end %>
        <div class="star-rating-back">★★★★★</div>
        <div class="rating-score">
        <% if @reviews.present? %>
          <%= @reviews.average(:rate).round(1) %>
        <% else %>
          -
        <% end %>
        </div>
      </div>
      <% unless @track.preview_url.nil? %>
        <div class="track-preview">
          <audio controls="" name="media" data-vscid="mipqfx065"><source src="<%= @track.preview_url %>" type="audio/mpeg"></audio>
        </div>
      <% end %>

    </div>
  </section>
  <section class="review-container">
    <div class="">
      <%= form_with model: @review, url: track_reviews_path(@track), method: :post, local: true do |f| %>
        <%= f.label :rate, "Rate" %>
        <%= f.number_field :rate, in: 0.0..5.0, step: 0.5 %>
        <%= f.label :review, "Review" %>
        <%= f.text_area :review %>
        <%= f.submit '投稿' %>
      <% end %>
    </div>
  </section>
  <section class="review-container">
    <% if @reviews.present? %>
      <% @reviews.each do |review| %>
        <div class="">
          <div><%= review.user.name if review.user.present? %></div>
          <div class="star-rating star-rating-small">
            <% if review.rate.present? %>
              <div class="star-rating-front" style="width: <%= review.rate * 20 %>%">★★★★★</div>
            <% end %>
            <div class="star-rating-back">★★★★★</div>
            <div class="rating-score rating-score-small">
            <% if review.rate.present? %>
              <%= review.rate %>
            <% else %>
              -
            <% end %>
            </div>
          </div>
          <div>
            <% if review.rate.present? %>
              <%= review.review %>
            <% else %>
              -
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="">
        まだレビューは投稿されていません。
      </div>
    <% end %>
  </section>
  </div>
</main>