<% @page_title = "\"#{@track.name}\"の詳細とレビュー" %>

<% content_for :head do %>
  <meta property="og:title" content=<%= @page_title %> />
  <meta property="og:type" content="article">
  <meta property="og:description" content=<%= @page_title %> />
<% end %>

<% content_for :head do %>
  <meta property="og:audio" content="<%= @track.preview_url %>" />
  <meta property="og:audio:title" content="<%= @track.name %>" />
  <meta property="og:audio:artist" content="<%= @track.artist_name %>" />
  <meta property="og:audio:album" content="<%= @track.album_name %>" />
  <meta property="og:audio:type" content="mp3" />
<% end %>

<% content_for :cover do %>
  <main class="single-container">
    <div class="single-inner">
      <%= render "track_info" %>
      <%= render "review_form" %>
      <%= render "your_review" %>
      <%= render "everyones_reviews" %>
    </div>
  </main>
<% end %>
