<% if @artist.images.blank? %>
  <div class="artist-header">
    <h2><%= link_to artist_path(@artist.id) do %><%= @artist.name %><% end %></h2>
  </div>
<% else %>
  <div class="artist-header" style="background-image: url(<%= "#{@artist.images[0]["url"]}" %>);" >
    <h2><%= link_to artist_path(@artist.id) do %><%= @artist.name %><% end %></h2>
  </div>
<% end %>