<% @page_title = "\"#{@keyword}\"のアーティスト名での検索結果" %>

<% content_for :head do %>
  <meta property="og:title" content=<%= @page_title %> />
  <meta property="og:type" content="article">
  <meta property="og:description" content=<%= @page_title %> />
<% end %>

<% content_for :cover do %>
  <main class="single-container">
    <div class="single-inner">
      <h2><%= "\"#{@keyword}\"の検索結果" %></h2>
      <h3><%= "#{@artists.length}件" %></h3>

      <section class="album-container artist-container">
        <%= render partial: 'artist', collection: @artists %>
      </section>
    </div>
  </main>
<% end %>