<% @page_title = "\"#{@artist_name}\"のアーティスト名での検索結果" %>

<% content_for :head do %>
  <meta property="og:title" content=<%= @page_title %> />
  <meta property="og:type" content="article">
  <meta property="og:description" content=<%= @page_title %> />
<% end %>

<% content_for :cover do %>
  <main class="single-container">
    <div class="single-inner">
      <h1 class="search-result-head"><%= "\"#{@artist_name}\"の検索結果" %></h1>
      <h2 class="search-result-count"><%= "#{@artists.length}件" %></h2>

      <section class="album-container artist-container">
        <%= render partial: 'artist', collection: @artists %>
      </section>
    </div>
  </main>
<% end %>