<main class="single-container">
<h1><%= "\"#{@keyword}\"の検索結果" %></h1>
<h2><%= "#{@artists.length}件" %></h2>

  <section class="album-container">
    <% @artists.each do |artist| %>
      <%= link_to artist_path(artist.id) do %>
        <div class="artist-wrap">
          <% if artist.images.blank? %>
            <%= image_tag "no_image.png", class: "artist-image" %>
          <% else %>
            <%= image_tag "#{artist.images[0]["url"]}", class: "artist-image" %>
          <% end %>
          <br>
          <%= artist.name %>
        </div>
      <% end %>
    <% end %>
  </section>
</main>