<% @page_title = "\"#{@artist.name}\"の作品一覧" %>

<% content_for :head do %>
  <meta property="og:title" content=<%= @page_title %> />
  <meta property="og:type" content="article">
  <meta property="og:description" content=<%= @page_title %> />
<% end %>

<% content_for :cover do %>
  <%= render "artist_header" %>
  <main class="single-container">
    <div class="single-inner album-inner">
      <%= render "artist_albums" %>
      <%= render "related_artists" %>
    </div>
  </main>
<% end %>
