<% @page_title = "\"#{@user.name}\"さんのレビュー・評価" %>

<% content_for :head do %>
  <meta property="og:title" content=<%= @page_title %> />
  <meta property="og:type" content="article">
  <meta property="og:description" content=<%= @page_title %> />
<% end %>

<% content_for :cover do %>
  <main class="single-container">
    <div class="single-inner">
      <%= render "user_info" %>
      <section class="review-container your-review-container">
        <% if @reviews.present? %>
          <h3><%= @user.name %>さんのレビュー・評価</h3>
          <%= render partial: 'user_reviews', collection: @reviews, as: "review" %>
        <% else %>
          <div class="no-review">
            まだレビューは投稿されていません。
          </div>
        <% end %>
      </section>
    </div>
  </main>
<% end %>
