<section class="album-container">
  <div class="rank_wrap">
    <p class="rank">
      <%= track_counter + 1 %>位
    </p>
  </div>
  <div class="album-left track-left ranking-left">
    <div>
      <%= link_to album_path(album_id(track)) do %>
        <%= image_tag "#{album_image(track)}", class: "album-image track-image track-show-image ranking-image" %>
      <% end %>
    </div>
  </div>
  <div class="album-right track-right ranking-right">
    <ol class="tracklist tracklist-large">
      <li class="tracklist-row">
        <div class="tracklist-col-left">
          <div class="track-name-wrap ranking-track-name">
            <%= link_to track_path(track.spotify_id) do %>
              <span><%= track.name %></span>
            <% end %>
            &nbsp;/&nbsp;
            <%= link_to artist_path(artist_id(track)) do %>
              <%= artist_name(track) %>
            <% end %>
          </div>
          <div class="album-name-wrap ranking-album-name"><%= link_to album_path(album_id(track)) do %><%= album_name(track) %><% end %> - <%= album_type(track) %></div>
          <div class="ranking-album-release-date"><%= album_release_date(track) %></div>
        </div>
        <div class="tracklist-col-right">
          <%= Time.at(track.duration_ms / 1000).strftime("%M:%S") %>
        </div>
      </li>
    </ol>
    <div class="star-rating ranking-star-rating">
      <% if track.average_score != "-" %>
        <div class="star-rating-front" style="width: <%= track.average_score * 20 %>%">★★★★★</div>
      <% end %>
      <div class="star-rating-back">★★★★★</div>
      <div class="rating-score">
        <%= track.average_score %>
      </div>
    </div>
    <% if track.preview_url.present? %>
      <div class="track-preview">
        <audio controls="" name="media" data-vscid="mipqfx065"><source src="<%= track.preview_url %>" type="audio/mpeg"></audio>
      </div>
    <% end %>
  </div>
</section>
