<div>
  <%= form_with url: tracks_path, method: :get, local: true, class: "top-search-form" do |f| %>
    <div class="form-group">
      <%= f.label :keyword, "曲名", class: "name-label" %>
      <%= f.text_field :keyword, placeholder: "曲名で検索" %>
      <%= f.label :submit_track do %>
        <i class="fas fa-search"></i>
      <% end %>
      <%= f.submit 'Search', id: "submit_track" %>
    </div>
  <% end %>
</div>
