

<main class="single-container top-container">
<div class="top-bg-mask">
  <div class="single-inner">
    <h1>MusicReviews</h1>
    <h2>音楽を聴いてレビューするサイト</h2>
    <p>
      音楽が一度に持ち歩けるようになって、同じ曲を何度も繰り返し聴く機会が減ってしまいました。<br>
      一曲ごとの想いを共有しよう！<br>
      みんなが評価してる曲を試聴して、レビューしてみよう！<br>
      新しい音楽と出会えるかも！
    </p>
  </div>
  </div>
</main>
<main class="single-container top-search-container">
<div class="single-inner">
<div>
<%= form_with url: artists_path, method: :get, local: true, class: "top-search-form" do |f| %>
  <%= f.text_field :keyword, placeholder: "アーティスト名で検索" %>
  <%= f.label :submit_artist do %>
    <i class="fas fa-search"></i>
  <% end %>
  <%= f.submit 'Search', id: "submit_artist" %>
<% end %>

</div>
<div>
<%= form_with url: albums_path, method: :get, local: true, class: "top-search-form" do |f| %>
  <%= f.text_field :keyword, placeholder: "アルバム名で検索" %>
  <%= f.label :submit_album do %>
    <i class="fas fa-search"></i>
  <% end %>
  <%= f.submit 'Search', id: "submit_album" %>
<% end %>
</div>
<div>
<%= form_with url: tracks_path, method: :get, local: true, class: "top-search-form" do |f| %>
  <%= f.text_field :keyword, placeholder: "曲名で検索" %>
  <%= f.label :submit_track do %>
    <i class="fas fa-search"></i>
  <% end %>
  <%= f.submit 'Search', id: "submit_track" %>
<% end %>
</div>
<%
=begin%>
 <ul>
<% if user_signed_in? %>
<li><%= link_to  "Sign out", destroy_user_session_path, method: :delete %></li>
<% else %>
<li><%= link_to  "Sign in", new_user_session_path %></li>
<li><%= link_to  "Sign up", new_user_registration_path %></li>
<% end %>
</ul>
<%
=end%>
</div>
</main>



