

<main class="single-container">
<div class="single-inner">
<h1>MusicReviews</h1>
<h2>音楽を聴いてレビューするサイト。</h2>
<%
=begin%>
 <p>たくさんの音楽が一度に持ち歩けるようになって、同じ曲を何度も繰り返し聴く機会が減ってしまいました。
    そして、色んな曲を聴いてるうちに、どの曲のどんなところが好きだったか、自分がどんな気持ちのときにこの曲を聴くのか、
    その曲にどんな思い出があるのか、そういったことって忘れてしまいますよね。
    一曲一曲を深く聴いて、あなただけのレビューを共有しませんか？
  </p>
<%
=end%>
</div>
</main>
<main class="single-container">
<div class="single-inner">
<div>
<%= form_with url: artists_path, method: :get, local: true do |f| %>
  <%= f.label :keyword, "Artist" %>
  <%= f.text_field :keyword %>
  <%= f.submit 'Search' %>
<% end %>

</div>
<div>
<%= form_with url: albums_path, method: :get, local: true do |f| %>
  <%= f.label :keyword, "Album" %>
  <%= f.text_field :keyword %>
  <%= f.submit 'Search' %>
<% end %>
</div>
<div>
<%= form_with url: tracks_path, method: :get, local: true do |f| %>
  <%= f.label :keyword, "Track" %>
  <%= f.text_field :keyword %>
  <%= f.submit 'Search' %>
<% end %>
</div>

<% @tracks.each do |track| %>
<div class="album-container">
  <%= track.name %>
  </div>
<% end %>
<%
=begin%>
 <a class="btn">button</a>
<a class="btn btn-light">btn-light</a> 
<%
=end%>
</div>
</main>



