<section class="review-container">
  <div class="review-form-wrap-edit">
    <%= form_with model: @review, url: track_review_path(@track), method: :patch, local: true, class: "review-form review-form--edit" do |f| %>
      <div class="review-form-rate">
      <%= f.label :rate, "評価：" %>
      <%= f.number_field :rate, in: 0.0..5.0, step: 0.5, value: @review.rate, class: "review-rate-field" %>
      </div>
      <div class="review-form-review">
      <%= f.label :review, "レビュー：" %>
      <%= f.text_area :review, placeholder: "この曲の好きなところを書いてみよう！ （レビュー無記入でも投稿できます）", value: @review.review %>
      </div>
      <div class="clearfix">
      <%= f.submit '更新する', class: "review-submit-btn" %>
      </div>
    <% end %>
  </div>
</section>
