<header class="header">
  <div class="header-top">
    <div class="header-top-inner">
      <h1 class="header-heading-sp">
        <%= link_to root_path do %>
          MusicReviews
        <% end %>
      </h1>
      <h1 class="header-heading-pc"></h1>
      <div id="nav-toggle">
        <div>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="gloval-nav">
        <nav>
          <ul>
            <% if user_signed_in? %>
              <li>
                <%= link_to "マイページ", user_path(current_user.id) %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %>
              </li>
            <% else %>
              <li>
                <%= link_to "新規登録", new_user_registration_path %>
              </li>
              <li>
                <%= link_to "ログイン", new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
      <ul class="header-top-nav">
        <% if user_signed_in? %>
          <li>
            <%= link_to "マイページ", user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %>
          </li>
        <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="header-inner">
    <div class="header-left">
      <h1>
        <%= link_to root_path do %>
          MusicReviews
        <% end %>
      </h1>
    </div>
    <nav class="navbar">
      <ul>
        <li class="artist-name-form-wrap" id="artist-search-wrap">
          <%= form_with url: artists_path, method: :get, local: true, class: "search-form" do |f| %>
            <%= f.text_field :artist_name, class: "search-field", placeholder: "アーティスト名で検索", value: (@artist_name if @artist_name.present?) %>
            <%= f.label :artist_submit do %>
              <i class="fas fa-search"></i>
            <% end %>
            <%= f.submit 'Search', id: "artist_submit" %>
          <% end %>
        </li>
        <li class="album-name-form-wrap" id="album-search-wrap">
          <%= form_with url: albums_path, method: :get, local: true, class: "search-form" do |f| %>
            <%= f.text_field :album_name, class: "search-field", placeholder: "アルバム名で検索", value: (@album_name if @album_name.present?) %>
            <%= f.label :album_submit do %>
              <i class="fas fa-search"></i>
            <% end %>
            <%= f.submit 'Search', id: "album_submit" %>
          <% end %>
        </li>
        <li class="track-name-form-wrap" id="track-search-wrap">
          <%= form_with url: tracks_path, method: :get, local: true, class: "search-form" do |f| %>
            <%= f.text_field :track_name, class: "search-field", placeholder: "曲名で検索", value: (@track_name if @track_name.present?) %>
            <%= f.label :track_submit do %>
              <i class="fas fa-search"></i>
            <% end %>
            <%= f.submit 'Search', id: "track_submit" %>
          <% end %>
        </li>
        <li class="search-type-wrap">
          <div class="search-type-inner">
            <select class="search-type-select" id="search-type">
              <option value="artist_name">アーティスト名</option>
              <option value="album_name">アルバム名</option>
              <option value="track_name">曲名</option>
            </select>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
