<header class="header">
  <div class="header-top">
    <div class="header-top-inner">
      <h1 class="header-heading-sp">
        <%= link_to root_path do %>
          MusicReviews
        <% end %>
      </h1>
      <h1 class="header-heading-pc"></h1>
      <div id="nav-toggle">
        <div>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="gloval-nav">
        <nav>
          <ul>
            <% if user_signed_in? %>
              <li>
                <%= link_to "マイページ", user_path(current_user.id) %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %>
              </li>
            <% else %>
              <li>
                <%= link_to "新規登録", new_user_registration_path %>
              </li>
              <li>
                <%= link_to "ログイン", new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
      <ul class="header-top-nav">
        <% if user_signed_in? %>
          <li>
            <%= link_to "マイページ", user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %>
          </li>
        <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="header-inner">
    <div class="header-left">
      <h1>
        <%= link_to root_path do %>
          MusicReviews
        <% end %>
      </h1>
    </div>
    <nav class="navbar">
      <ul>
        <li>
          <%= form_with url: tracks_path, method: :get, local: true, class: "search-form" do |f| %>
            <%= f.text_field :keyword, class: "search-field", placeholder: "曲名で検索", value: (@keyword if @keyword.present?) %>
            <%= f.label :submit do %>
              <i class="fas fa-search"></i>
            <% end %>
            <%= f.submit 'Search', id: "submit" %>
          <% end %>
        </li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>
