<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= page_title %></title>
    <meta name="description" content="音楽を聴いてレビューするサイト。みんなが評価してる曲を試聴して、レビューしてみよう！新しい音楽と出会えるかも！" />
    <meta property="og:url" content="https://music-reviews.net/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="tp_237" />
    <meta name="og:title" content="MusicReviews" />
    <meta name="og:description" content="音楽を聴いてレビューするサイト。" />
    <meta name="og:image" content="https://music-reviews.net<%= asset_path('banner.png') %>" />
    <meta property="og:site_name" content="MusicReviews" />
    <meta property="og:locale" content="ja_JP" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0496766e2.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield :cover %>
    <%= render "layouts/footer" %>
  </body>
</html>
