<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= page_title %></title>
    <meta name="description" content="音楽を聴いてレビューするサイト。みんなが評価してる曲を試聴して、レビューしてみよう！新しい音楽と出会えるかも！" />
    <meta property="og:url" content="http://tg-music-reviews1-214759366.ap-northeast-1.elb.amazonaws.com/" />
    <meta property="og:title" content="MusicReviews | 音楽レビューサイト" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="音楽を聴いてレビューするサイト。みんなが評価してる曲を試聴して、レビューしてみよう！新しい音楽と出会えるかも！" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="tp_237" />
    <meta property="og:site_name" content="MusicReviews" />
    <meta property="og:locale" content="ja_JP" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0496766e2.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <header class="header">
      <div class="header-top">
        <div class="header-top-inner">
          <h1 class="header-heading"></h1>
          <ul class="header-top-nav">
            <% if user_signed_in? %>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %>
              </li>
            <% else %>
              <li>
                <%= link_to "新規登録", new_user_registration_path %>
              </li>
              <li>
                <%= link_to "ログイン", new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="header-inner">
      <div class="header-left">
        <h1>
          <%= link_to root_path do %>
            MusicReviews
          <% end %>
        </h1>
      </div>
      <nav class="navbar">
        <ul>
          <li>
            <%= form_with url: tracks_path, method: :get, local: true, class: "search-form" do |f| %>
              <%= f.text_field :keyword, class: "search-field", placeholder: "曲名で検索", value: (@keyword if @keyword.present?) %>
              <%= f.label :submit do %>
                <i class="fas fa-search"></i>
              <% end %>
              <%= f.submit 'Search', id: "submit" %>
            <% end %>
          </li>
          <li></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
    <%= yield :cover %>
    <footer>
      <div class="footer-copyright">
        <p>TEPPEI TAGUCHI ALL RIGHTS RESERVED.</p>
      </div>
    </footer>
  </body>
</html>
