<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0496766e2.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
      <div class="header-left">
      <h1>
      <%= link_to root_path do %>
        MusicReviews
      <% end %>
      </h1>
      </div>
      <nav class="navbar">
      <ul>
      <li>
        <%= form_with url: tracks_path, method: :get, local: true, class: "search-form" do |f| %>
          <%= f.text_field :keyword, class: "search-field", placeholder: "曲名で検索", value: (@keyword if @keyword.present?) %>
          <%= f.label :submit do %>
            <i class="fas fa-search"></i>
          <% end %>
          <%= f.submit 'Search', id: "submit" %>
        <% end %>
      </li>
      <li></li>
      </ul>
      </nav>
      </div>
    </header>
    <%= yield %>
    <footer></footer>
  </body>
</html>
